@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500&display=swap');

@layer base {
  body {
    height: 200vh;
    background-color: black;
    font-family: 'Arimo', sans-serif;
  }
}
