@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500&display=swap');

@layer base {
  body {
    height: 200vh;
    /* background-color: black; */
    background-color: #dae0e6;
    font-family:  sans-serif;
  }

  a, button {
    display: block;
  }
}

@layer components {
  .input {
    @apply bg-neutral-100 hover:bg-white focus:bg-white dark:bg-neutral-800 dark:hover:bg-neutral-900 dark:focus:bg-neutral-900 border
     border-neutral-200 dark:border-neutral-700 outline-none placeholder-neutral-500 hover:border-blue-500 focus:border-blue-500
      dark:hover:border-white dark:focus:border-white dark:text-white;
  }
}
